{% extends "base/base.html" %}
{% block content %}
<div class="container mt-5">
  <h3>Set a new password</h3>
  <form method="post">
    {% csrf_token %}
   
    <button type="submit" class="btn btn-success">Change password</button>
  </form>
</div>
{% endblock %}


{% extends "base/base.html" %}
{% block content %}
<section class="min-h-screen flex items-center justify-center bg-[#1f242d] text-white px-4">
  <div class="max-w-lg w-full bg-slate-800 p-8 rounded-2xl shadow-2xl">
    <h2 class="text-3xl font-bold mb-6 text-center text-amber-400">Set a New Password</h2>
    <form method="POST" class="space-y-4">
      {% csrf_token %}
      {{ form.new_password1}}
      {{ form.new_password2}}
      <button type="submit" class="w-full py-3 rounded-xl bg-gradient-to-r from-emerald-500 to-emerald-700 font-semibold text-lg text-white shadow-lg hover:scale-105 hover:shadow-emerald-500/40 transition-all duration-300">
        Update Password
      </button>
    </form>
  </div>
</section>
{% endblock %}